<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="test_robot_control" type="system">
        <hardware>
            <plugin>RM_hardware_interface/RM_MixtureMotorHardwearInterface</plugin>
            <param name="can_port">can0</param>
            <param name="enable_topic">enable_topic</param>
            <param name="zero_topic">zero</param>
            <param name="read_times">5</param>
        </hardware>

        <joint name="joint_1">

            <param name="type">DJI</param>

            <param name="can_id">3</param>
            <param name="motor_type">C610</param>
            <param name="reverse">false</param>

            <param name="reduction_ratio">36</param>

        </joint>

    </ros2_control>
</robot>
