<?xml version="1.0" encoding="utf-8"?>
<robot name="mecanum_four_wheel_robot">
  <!-- 底盘 -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.3 0.05"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <!-- 前左轮 -->
  <link name="wheel_fl">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="wheel_fl_joint" type="revolute">
    <parent link="base_link"/>
    <child link="wheel_fl"/>
    <origin xyz="0.15 0.12 -0.025" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-100" upper="100" effort="1" velocity="10"/>
  </joint>

  <!-- 前右轮 -->
  <link name="wheel_fr">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="wheel_fr_joint" type="revolute">
    <parent link="base_link"/>
    <child link="wheel_fr"/>
    <origin xyz="0.15 -0.12 -0.025" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-100" upper="100" effort="1" velocity="10"/>
  </joint>

  <!-- 后左轮 -->
  <link name="wheel_rl">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="wheel_rl_joint" type="revolute">
    <parent link="base_link"/>
    <child link="wheel_rl"/>
    <origin xyz="-0.15 0.12 -0.025" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-100" upper="100" effort="1" velocity="10"/>
  </joint>

  <!-- 后右轮 -->
  <link name="wheel_rr">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="wheel_rr_joint" type="revolute">
    <parent link="base_link"/>
    <child link="wheel_rr"/>
    <origin xyz="-0.15 -0.12 -0.025" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-100" upper="100" effort="1" velocity="10"/>
  </joint>
</robot>
